{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
{{ form_start(form, { 'attr': {'class': 'text-center border border-light p-5'}}) }}
<p class="h4 mb-4">Sign up</p>
{{ form_row(form.username, { 'attr': {'class': 'form-control mb-4'}}) }}
{{ form_row(form.email, { 'attr': {'class': 'form-control mb-4'}}) }}
{{ form_row(form.password, { 'attr': {'class': 'form-control mb-4'}}) }}



<button type="submit" class="btn btn-info my-4 btn-block"> Register </button>
<hr>
    Terms of service 
    <p>you already have account ? click
        
        <a href="/signin"><em>Sign in</em> </a>

{{ form_end(form) }}

</div>
{% endblock %}


